<a href="/Account/SignUp">Регистрация --&gt</a>
<br />
<a href="/Account/SignIn">Вход --&gt</a>
<br />
<a href="/Account/SignOff">&lt-- Выход</a>
<br />
<a href="/Test/ForUsers?ab=cd">|-- Страница для вошедших</a>
<br />