@model UserModel
<h1>РЕГИСТРАЦИЯ</h1>
@using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.Email)
    <br />
    @Html.TextBoxFor(m => m.Password)
    <br />
    <button type="submit">Отправить</button>
}
<h3>@ViewBag.Success</h3>